{% extends "base_generic.html" %}

{% block content %}
<h1>IRG Lunch on {{ date }} </h1>

    <h3>Host</h3>
    <p> {{ host_action.host.name }} </p>
    <a href="{% url 'change-host' host_action.pk %}">Change Host</a>

    <h3>Guests</h3>
    <ul>
        {% for guestaction in guestaction_list %}
            <li>{{ guestaction.guest.name }} - {{ guestaction.note }} </li>
        {% endfor %}
    </ul>

    <a href="{% url 'add-guest' date.year date.month date.day%}">Add Guest</a>

{% endblock %}
