{% extends "base_generic.html" %}

{% block content %}
<h1>IRG Lunch on {{ date }} </h1>

    <h3>Host</h3>
    <p> {{ host_action.host.name }} </p>

    <p> {{ host_action.comment }} </p>
    <p><a href="{% url 'change-host' host_action.pk %}">Change Host</a> </p>
    <a href="{% url 'add-comment' host_action.pk %}">Add Comment</a>
  <hr>

    <h3>Guests</h3>
    <ul>
        {% for guestaction in guestaction_list %}
            <li>{{ guestaction.guest.name }} {% if guestaction.note %} - {{ guestaction.note }} {% endif %}  </li>
        {% endfor %}
    </ul>

    <a href="{% url 'add-guest' date.year date.month date.day%}">Add Guest</a>
    <br><br>
    If your name is not in the database, please <a href="{% url 'add-person' %}">add yourself to the database</a> and
    then navigate back to the proper date. This will keep lunch hosting assignments fair.
    <br><br>
    Do not sign up under another person's name!

{% endblock %}
